// Dark Theme colors:
$bg-primary-dark: #1E1F22;
$bg-secondary-dark: #2B2D31;
$bg-dark: #313338;
$icon-dark: #8E8E8E;
$accent-dark: #9A85C7;

// Light Theme colors:
$bg-primary-light: #E3E5E8;
$bg-secondary-light: #F2F3F5;
$bg-light: #FFFFFF;
$icon-light: #1E1F22;
$accent-light: #C892FF;

// Ribbon sizes:
$ribbon-width: 2.5rem;
$ribbon-icon-size: 1.25rem;
$ribbon-icon-stroke: 1.5;
$ribbon-project-size: 1.5rem;

//Title bar sizes:
$title-bar-height: 2rem;