.ribbon-container {
    width: $ribbon-width;
    min-width: $ribbon-width;
    background-color: $bg-primary-dark;
    color: $icon-dark;
    margin-top: -30px;
}



.settings-grid {
    grid-auto-rows: $ribbon-width / 1.25;
    grid-template-columns: 100%;
}

.project-grid {
    grid-auto-rows: $ribbon-width;
    grid-template-columns: 100%;
    margin-top: $title-bar-height;
}