#title-bar {
    height: $title-bar-height;
    background-color: $bg-primary-dark;
    color: $icon-dark;

    #minimize,
    #maximize,
    #close {
        width: $ribbon-width;
    }
}

#minimize:hover,
#maximize:hover {
    background-color: #27282c;
    color: white;
}

#close:hover {
    background-color: #F23F42;
    color: white;
}

#drag {
    -webkit-app-region: drag;
}