@import './Theme1/variables.scss';
@import './Theme1/rightNav.scss';
@import './Theme1/leftNav.scss';
@import './Theme1/contextMenu.scss';

.clr-red {
    background-color: $clr-red-dark;
}

.clr-yellow {
    background-color: $clr-yellow-dark;
}

.clr-green {
    background-color: $clr-green-dark;
}

.clr-blue {
    background-color: $clr-blue-dark;
}

.clr-purple {
    background-color: $clr-purple-dark;
}